.custom-button {
    min-width:165px;
    width: auto;
    min-width: 200px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    //font-size: 20px;
    background-color: maroon;
    color: white;
    text-transform: uppercase;
    //font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color .3s ease-in-out;

    @media screen and (max-width: 800px) {
        //font-size: 12px;
    }

    &:hover {
        background-color: white;
        color: maroon;
        border: 1px solid maroon;
    }

    &:active {
        color: grey;
        border: 1px solid grey;
    }

    &.google-sign-in {
        background-color: #4285f4;
        color: white;

        &:hover {
            background-color: white;
            color: #4285f4;
            outline: 1px solid #4285f4;
        }
    }

    &.inverted {
        background-color: white;
        color: black;
        border: 1px solid black;

        &:hover {
            background-color: black;
            color: white;
            border: none;
        }
    }
}